version: '2.1'

networks:
  guacnetwork_compose:
    driver: bridge

volumes:
  guacamole_drive:
  guacamole_record:
  guacamole_postgres_data:
  guacamole_postgres_init:

services:
  guacd:
    container_name: guacd_compose
    environment:
      GUACD_HOSTNAME: 172.22.0.2
      POSTGRES_DATABASE: guacamole_db
      POSTGRES_HOSTNAME: 172.22.0.3
      POSTGRES_PASSWORD: 'IHaveChangeTheVerySecretHere7677'
      POSTGRES_USER: guacamole_user
    image: guacamole/guacd
    networks:
      guacnetwork_compose:
    restart: always
    volumes:
      - guacamole_drive:/drive:rw
      - guacamole_record:/record:rw

  postgres:
    container_name: postgres_guacamole_compose
    environment:
      PGDATA: /var/lib/postgresql/data/guacamole
      POSTGRES_DB: guacamole_db
      POSTGRES_PASSWORD: 'IHaveChangeTheVerySecretHere7677'
      POSTGRES_USER: guacamole_user
    image: postgres:alpine
    networks:
      guacnetwork_compose:
    restart: always
    volumes:
      - guacamole_postgres_init:/docker-entrypoint-initdb.d:z
      - guacamole_postgres_data:/var/lib/postgresql/data:Z
